<div>
  <!-- Header -->
  <div>
    <nav class="navbar custom-navbar p-3 mb-5">
      <a href="/home" class="navbar-brand text-light h6">GT-Encryption App</a>
    </nav>
  </div>

  <!-- Add Channel Form -->
  <div class="container mt-5">
    <form [formGroup]="channelForm" (ngSubmit)="addNewChannel()">
      <div class="container mt-4">
        <div *ngIf="showForm" class="row">
          <div class="col">
            <input
              type="text"
              class="form-control p-2"
              placeholder="Enter channel name"
              formControlName="name"
              name="name"
            />
          </div>
          <div class="col">
            <input
              type="text"
              class="form-control p-2"
              placeholder="Enter public key"
              formControlName="publicKey"
              name="publicKey"
            />
          </div>
          <div class="col">
            <button type="submit" class="btn btn-danger">Add Channel</button>
          </div>
          <div class="col">
            <button
              type="button"
              (click)="toggleAddChannel()"
              class="text-danger"
              mat-icon-button
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </form>
    <button
      *ngIf="!showForm"
      (click)="toggleAddChannel()"
      class="btn btn-outline-info p-2"
    >
      Add New Channel
    </button>
    &nbsp;
    <button
      *ngIf="!showForm"
      routerLink="/editchannel"
      class="btn btn-outline-warning p-2"
    >
      Edit Channel
    </button>

    <!-- Search for Channels -->
    <div class="container mt-4">
      <div class="form-group">
        <label class="p-1 text-secondary">Search Channel</label>
        <input
          type="text"
          class="form-control p-2"
          placeholder="Type to search channels"
          [(ngModel)]="selectedChannel"
          name="selectedChannel"
          (input)="filterchal(selectedChannel)"
        />
        <ul *ngIf="filteredChannels.length > 0" class="list-group mt-2">
          <li
            *ngFor="let channel of filteredChannels"
            class="list-group-item list-group-item-action"
            (click)="selectFilteredChannel(channel.name)"
          >
            {{ channel.name }}
          </li>
        </ul>
        <p
          *ngIf="
            filteredChannels.length === 0 &&
            selectedChannel &&
            !selectedPublicKey
          "
          class="text-muted mt-2"
        >
          No matching channels found.
        </p>
      </div>
    </div>

    <!-- Encryption Parameters -->
    <form>
      <div class="container mt-4">
        <div class="row">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Parameter Name"
              [(ngModel)]="parameters[0].name"
              name="paramName0"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Parameter Value"
              [(ngModel)]="parameters[0].value"
              name="paramValue0"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div class="col">
            <button
              [hidden]="!showDeleteButton"
              type="button"
              class="text-danger"
              (click)="removeParameter(0)"
              mat-icon-button
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div
        *ngFor="let param of parameters.slice(1); let i = index"
        class="container mt-4"
      >
        <div class="row">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Parameter Name"
              [(ngModel)]="param.name"
              name="paramName{{ i + 1 }}"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Parameter Value"
              [(ngModel)]="param.value"
              name="paramValue{{ i + 1 }}"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div class="col">
            <button
              type="button"
              class="text-danger"
              (click)="removeParameter(i + 1)"
              mat-icon-button
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </form>

    <!-- Buttons -->
    <div class="container mt-4">
      <button
        type="button"
        class="btn btn-secondary mt-2"
        (click)="addParameter()"
      >
        Add Extra Parameter To Encrypt
      </button>
    </div>

    <div class="container mt-3">
      <button type="button" class="btn btn-info" (click)="encryptParameters()">
        Encrypt
      </button>
      &nbsp;
      <button type="button" class="btn btn-danger" (click)="resetAll()">
        Reset
      </button>
    </div>

    <!-- Encrypted Parameters Output -->
    <div class="container mt-3" *ngIf="encryptedOutput">
      <h5>Encrypted Params:</h5>
      <textarea
        class="form-control"
        rows="5"
        readonly
        [value]="encryptedOutput"
      ></textarea>
      <button class="btn btn-secondary mt-2" (click)="copyToClipboard()">
        Copy To Clipboard
      </button>
    </div>
  </div>

  <div class="container mt-5 p-3">
    <p class="text-secondary h6 text-center">
      Powered by Tolulope David * TMoney
    </p>
  </div>
</div>
